<h2>Announcements:</h2><br>
<div *ngIf="announcements$ | async as announcements">
  <div *ngFor="let announcement of announcements">
    <p (click)="open(announcement.id)">{{announcement.text}}</p>
  </div>
</div>
<div *ngIf="this.userRole === 'TEACHER'">
  <form [formGroup]="announcementForm" class="form-horizontal" role="form">
    <div appearance="fill">
      <mat-label>Message</mat-label>
      <textarea formControlName="text" class="form-control" matInput placeholder="Announcement"></textarea>
      <button mat-button (click)="sendAnnouncement()">Publish</button>
      <button mat-button (click)="deleteAnnouncement(classroomId)">Delete</button>
    </div>
  </form>
</div>

