<div class="all-announcements">

<h2>Announcements</h2><br>
<div *ngIf="announcements$ | async as announcements">


  <div *ngFor="let announcement of announcements">

    <mat-card class = "announcement-card">
      <mat-card-title>
    <p (click)="open(announcement.id)">{{announcement.text}}</p>
      </mat-card-title>
      <div class="detail-options">
        <mat-icon
          class="announcement-icon"
          color="secondary"
          (click)="updateAnnouncement()"
        >edit
        </mat-icon>
        <mat-icon
          class="announcement-icon"
          color="warn"
          (click)="deleteAnnouncement(announcement.id)"
        >delete
        </mat-icon>
      </div>
    </mat-card>
  </div>
  <div *ngIf="this.userRole === 'TEACHER'">
    <form [formGroup]="announcementForm" class="form-horizontal" role="form">
      <div appearance="fill">
        <mat-label>Message</mat-label>
        <textarea formControlName="text" class="form-control" matInput placeholder="Announcement"></textarea>
        <button type="submit" class="btn btn-success" (click)="sendAnnouncement()">Publish</button>
      </div>
    </form>
  </div>

</div>


</div>


