<div class="all-announcements">
  <!--     *ngIf="!adding && !editing">-->
  <h2>Announcements</h2><br>
  <button class="btn btn-primary" mat-button (click)="toggleAnnouncements()">Toggle Announcements</button>

  <div *ngIf="toggle; else noAnnouncements">

    <div *ngIf="announcements$ | async as announcements">
      <div *ngFor="let announcement of announcements">
        <mat-card class="announcement-card">
          <mat-card-title>
            <p (click)="open(announcement.id)">{{announcement.text}}</p>
          </mat-card-title>
          <div class="detail-options">
            <mat-icon
              class="announcement-icon"
              color="secondary"
              (click)="announcementUpdateForm.setValue({id: announcement.id, text: announcement.text}); open1(content)" *ngIf="userRole == 'TEACHER'"
             >edit
            </mat-icon>
            <mat-icon
              class="announcement-icon"
              color="warn"
              (click)="deleteAnnouncement(announcement.id)"
            >delete
            </mat-icon>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>


<div class="add-form-container">
  <!--     *ngIf="adding || editing">-->
  <div>
    <div *ngIf="this.userRole === 'TEACHER'">
      <form [formGroup]="announcementForm"  class="form-horizontal" role="form">
<!--        (ngSubmit)="onSubmit()"-->
        <div appearance="fill">
          <mat-label>Message</mat-label>
          <textarea formControlName="text" class="form-control" matInput placeholder="Announcement"></textarea>
          <button class="btn btn-primary" mat-button (click)="sendAnnouncement()">Publish</button>
          <button class="btn btn-primary" mat-button (click)="exitForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #noAnnouncements>
  <p>Announcements are hidden!</p>
</ng-template>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update announcement</h4>
  </div>
  <div class="modal-body">
    <form>
      <form [formGroup]="announcementUpdateForm">
        <div>
          <textarea [value]="announcementUpdateForm.get('text')?.value" id="textUpdate" type="text" formControlName="text" class="md-textarea md-textarea-auto form-control"></textarea>
        </div>
      </form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-google" (click)="updateAnnouncement(); modal.close()">Update</button>
  </div>
</ng-template>
