
      

<div class="container-announcement" *ngIf="materials$ | async as materials">
   <div *ngFor="let material of materials">
    <mat-card>  
      <mat-card-header>
        <mat-card-title (click)="open(material.id)" >{{material.title}}</mat-card-title>
        <mat-card-subtitle>{{material.text}}</mat-card-subtitle>
        <div class="detail-options" *ngIf="userRole == 'TEACHER'">
          <mat-icon
            class="comment-icon"
            color="secondary"
            (click)="edit(material)"
          >edit
          </mat-icon>
          <mat-icon
          class="comment-icon"
          color="warn"
          (click)="delete(material.id)"
          >delete
          </mat-icon>
          </div>
      </mat-card-header>
      <mat-card-content>{{material.task}}</mat-card-content>
      <mat-card-footer><span class="text-footer">Maximum score is: </span>{{material.maxScore}}
        <span class="text-footer">Deadline: </span>{{getDate(material.dueDate)}}</mat-card-footer>
    </mat-card>
   </div>
  </div>
  <button *ngIf="userRole == 'TEACHER'" class="btn btn-success" (click)="add()">Add material</button>
    
    <mat-card *ngIf="editing || adding" class="form-material" >
      <mat-card-title *ngIf="editing">Update material</mat-card-title>
      <mat-card-title *ngIf="adding">Add material</mat-card-title>
      <mat-card-content>
    <form [formGroup]="materialForm" role="form" class="form-horizontal">
      
      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="text" matInput></textarea>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Select material type</mat-label>
                  <mat-select [(value)]="selectedType">
                    <mat-option [value]="materialType[0]">Task</mat-option>
                    <mat-option [value]="materialType[1]">Question</mat-option>
                    <mat-option [value]="materialType[2]">Test</mat-option>
                    <mat-option [value]="materialType[3]">Learning material</mat-option>
                  </mat-select>
        </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Task</mat-label>
        <textarea formControlName="task" matInput></textarea>
      </mat-form-field>
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Max score: </label>
        <label class="example-value-label">{{maxScore}}</label>
      </div>
      <mat-slider formControlName="maxScore" min="1" max="100" step="1" value="1" [(ngModel)]="maxScore"></mat-slider>
      <mat-form-field  appearance="fill">
        <mat-label>Start date</mat-label>
        <input type="date" id="start" matInput >
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>End date</mat-label>
        <input type="date" id="end" matInput >
      </mat-form-field>
      
      <mat-form-field  appearance="fill">
        <mat-label>Add link</mat-label>
        <input formControlName="url" matInput >
      </mat-form-field><br>
      <mat-action-row>
        <button class="btn btn-success" type="submit" (click)="submit()">Save</button>
        <button class="btn btn-warning" (click)="close()">Cancel</button>
      </mat-action-row>
    </form>
  </mat-card-content>
</mat-card>
 