form{
    padding: 5px;
}
input, select, textarea{
    margin-bottom: 10px;
}

mat-slider {
    width: 300px;
    color: #000;
  }

.mat-slider-horizontal {
    width: 300px;
  }

.example-label-container.example-label-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 16px;
    max-width: 284px;
  }
.example-value-label{
    margin-left: 5px;
}

  .mat-card + .mat-card {
    margin-top: 8px;
  }

  .example-result-card .example-value-label {
    font-weight: 600;
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .full-width {
    width: 100%;
  }
  .example-chip-list {
    width: 100%;
  }

  .side{
    background-color: rgb(197, 197, 197);
  }
  .container{
    background-color: white;
    min-height: 800px;
  }

  mat-card{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .text-footer{
    font-weight: bold;
    color: crimson;
    margin: 5px;
  }

  mat-form-field{
    display: block;
  }

  .detail-options {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  
  .detail-options mat-icon {
    padding-right: 5px;
  }
  
  button:hover, .detail-options {
    cursor: pointer;
  }

  .form-material{
    position: fixed;
    position: fixed;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 800px;
   margin-left: -200px;
   margin-top: -400px;
   background: white;
   padding: 10px;
  }

  button{
    margin-right: 10px;
  }

  mat-card-title{
    cursor: pointer;
  }