<div class="container-material" *ngIf="announcement$ | async as announcement">
    <div class="row">
      <div class="image-top"><span  class="name"></span></div>
  </div>
  <h1>{{announcement.text}}</h1>
    <div class="row">
        <div class="box" *ngIf="comments$ | async as comments">
            <h2>Comments:</h2><br>
            <div *ngFor="let comment of comments">
                <mat-card class="card">
                    <mat-card-content>{{comment.text}}</mat-card-content>
                    <mat-card-footer class="max-opacity"><p>{{"Date: " + comment.date}}</p></mat-card-footer>
                    <mat-card-footer class="max-opacity"><a href="{{'http://localhost:4200/profile/' + comment.authorId}}">Author</a></mat-card-footer>
                    <mat-card-actions *ngIf="userId == comment.authorId"><p (click)="delete(comment.id)">&#10006;</p></mat-card-actions>
                </mat-card>
             </div>
            <form [formGroup]="commentForm"  class="form-horizontal" role="form">
               <div appearance="fill">
                   <textarea formControlName="text" class="form-control" matInput placeholder="Comment"></textarea>
                   <button mat-button (click)="sendComment()">Publish</button>
               </div>
           </form>
        </div> 
    </div>
</div>