form button{
    margin-top: 5px;
}
.image-top { 
	width:625px; 
	height:260px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(/assets/images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.box{
	background-color:rgba(255, 255, 255, 1);
	width:625px;
	height:auto;
	  border-top-left-radius:15px;
	  border-top-right-radius:15px;
	  border-bottom-left-radius:15px;
	  border-bottom-right-radius:15px;
	border:2px solid rgba(0, 0, 0, 1);
	margin-top: 10px;
    padding: 5px;
  }

  .container-announcement{
	width:625px;
	height: auto;
	margin: 0 auto;
  }
  mat-card{
    background-color: white;
    stroke-width: 2px;
    stroke: aquamarine;

    margin: 10px;
    max-width: 600px;
}