<div class="container-fluid" *ngIf="announcement$ | async as announcement">
  <div class="row">
      <div class="col-2 side"></div>
      <div class="col-8 container">
        <div class="image-top"></div>
        <div *ngIf="comments$ | async as comments">
          <h2>Comments</h2><br>
          <div *ngFor="let comment of comments">
            <mat-card class="card">
              <mat-card-title>
                {{comment.text}}
              </mat-card-title>
              <div class="detail-options">
                <mat-icon
                  class="comment-icon"
                  color="secondary"
                  (click)="commentUpdateForm.setValue({id: comment.id, text: comment.text}); open1(content)"
                >edit
                </mat-icon>
                <mat-icon
                  class="comment-icon"
                  color="warn"
                  (click)="deleteComment(comment.id)"
                >delete
                </mat-icon>
              </div>
              <mat-card-subtitle class="max-opacity">{{getDate(comment)}}</mat-card-subtitle>
              <mat-card-footer class="max-opacity"><a
                href="{{'http://localhost:4200/profile/' + comment.authorId}}">{{comment.firstName + ' ' + comment.lastName}}</a>
              </mat-card-footer>
            </mat-card>
          </div>
          <form [formGroup]="commentForm" class="form-horizontal" role="form">
            <div appearance="fill">
              <textarea formControlName="text" class="form-control" matInput placeholder="Comment"></textarea>
              <button type="submit" class="btn btn-success" (click)="sendComment()">Publish</button>
              <button type="submit" class="btn btn-success" (click)="exitForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-2 side"></div>
      
    </div>
    
  </div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update answer</h4>
  </div>
  <div class="modal-body">
    <form>
      <form [formGroup]="commentUpdateForm">
        <div>
          <textarea [value]="commentUpdateForm.get('text')?.value" id="textUpdate" type="text" formControlName="text" class="md-textarea md-textarea-auto form-control"></textarea>
        </div>
      </form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-google" (click)="updateComment(); modal.close()">Update</button>
  </div>
</ng-template>
