<div class="background">
  <div>
    <button mat-button class="button" (click)="joinModal(content)">Join Classroom</button>
    <button mat-button class="button" (click)="createModal(content2)">Create Classroom</button>
  </div>
  <div>
    <h1 class="h1">Your classrooms:</h1>
  </div>
  <div *ngFor="let classroom of classrooms">
    <mat-card>
      <mat-card-title>{{"[" + classroom.classroomId + "] " + classroom.title}}</mat-card-title>
      <mat-card-subtitle>{{"Description: " + classroom.description}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button (click)="open(classroom)">Open</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <router-outlet></router-outlet>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Join classroom{{errorMessage}}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Enter classroom code:</label>
        <div class="input-group">
          <input id="code" type="text" class="form-control"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="button" (click)="modal.close()">Join</button>
  </div>
</ng-template>
<ng-template #content2 let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Create classroom{{errorMessage}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="dateOfBirth">Classroom name:</label>
        <div class="input-group">
          <input formControlName="title" type="text" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Classroom session:</label>
        <div class="input-group">
          <input formControlName="session" type="text" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Classroom description:</label>
        <div class="input-group">
          <input formControlName="description" type="text" class="form-control"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="button" (click)="[modal2.close('create'), create()]">Create</button>
  </div>
</ng-template>