<body class="body-class">
<div class="container bootstrap snippets bootdey">
    <app-header></app-header>
    <hr>
<div>
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <i class="fa fa-coffee"></i>
        Create an Account 
      </div>      
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Password:</label>
          <div class="col-lg-8">
            <input class="form-control" type="password" value="">
          </div>
        </div>
        <app-button></app-button>
      </form>
    </div>
</div>
</div>
</body>
<router-outlet></router-outlet>
