.background{
    background-image: url("src/assets/images/Background-Kelase-New.png");
height:calc(100vh - 68px) ;
}


.title{
  padding-top: 155px;
  padding-left: 30px;
  color: brown;
  font-size: 50px ;
}
.hope{

  padding-left: 30px;
  color: rgba(18, 61, 255, 0.78);
  font-size: 50px ;
}
