<h2>Criterions:</h2>
<div *ngIf="criterions$ | async as criterions">
  <div *ngFor="let criterion of criterions">
    <mat-card>
      <mat-card-header>
        <mat-card-title (click)="open(criterion.id)">{{criterion.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{criterion.description}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="this.userRole === 'TEACHER'">
  <form [formGroup]="criterionForm"  class="form-horizontal" role="form">
    <div appearance="fill">
      <mat-label>Add criterion</mat-label>
      <textarea formControlName="title" class="form-control" matInput placeholder="Title"></textarea>
      <textarea formControlName="description" class="form-control" matInput placeholder="Description"></textarea>
        <button mat-button (click)="sendCriterion()" class="btn btn-success btn-google btn-with-margin">Save</button>
    </div>
  </form>
</div>
