<h2>Criterions:</h2>
<div *ngIf="criterions$ | async as criterions">
  <div *ngFor="let criterion of criterions">
    <mat-card>
      <mat-card-header>
        <mat-card-title (click)="open(criterion.id)">{{criterion.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{criterion.description}}
        <mat-icon
          class="comment-icon"
          color="secondary"
          (click)="joinModal(content, criterion.id)"
        >edit
        </mat-icon>
        <mat-icon
          class="comment-icon"
          color="warn"
          (click)="deleteCriterion(criterion.id)"
        >delete
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="this.userRole === 'TEACHER'">
  <form [formGroup]="criterionForm"  class="form-horizontal" role="form">
    <div appearance="fill">
      <mat-label>Add criterion</mat-label>
      <textarea formControlName="title" class="form-control" matInput placeholder="Title"></textarea>
      <textarea formControlName="description" class="form-control" matInput placeholder="Description"></textarea>
        <button mat-button (click)="sendCriterion()" class="btn btn-success btn-google btn-with-margin">Save</button>
    </div>
  </form>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update criterion</h4>
  </div>
  <div class="modal-body">
    <form>
      <form [formGroup]="updateCriterionForm">
        <div>
          <textarea [value]="updateCriterionForm.get('title')?.value" id="textUpdate" type="text" formControlName="title" class="md-textarea md-textarea-auto form-control"></textarea>
          <textarea [value]="updateCriterionForm.get('description')?.value" id="descriptionUpdate" type="text" formControlName="description" class="md-textarea md-textarea-auto form-control"></textarea>
        </div>
      </form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-google " (click)="updateCriterion(); modal.close()">Update</button>
  </div>
</ng-template>
