<div class="container-user" *ngIf="user$ | async as user">
  <div class="row">
    <div class="image-top"><span  class="name">User profile</span></div>
</div>
  <div class="row">
          <div class="box">
            <mat-card>
              <mat-card-header>
                  {{"First name: " + user.firstName}}<br>
                  {{"Last name: " + user.lastName}}<br>
                  {{"Email: " + user.email}}<br>
              </mat-card-header>
              <button mat-button class="button, profile-button" (click)="joinModal(content)">Update profile</button>
            </mat-card>
          </div>
      </div>
  </div>


  

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update user</h4>
    </div>
    <div class="modal-body" *ngIf="user$ | async as user">
      <form [formGroup]="updateForm" role="form" class="form-horizontal">
        <div class="form-group">
          <label for="firstName">First name:</label>
          <div class="input-group">
            <input  value="{{user.firstName}}" type="text" class="form-control"/>
          </div>
          <label for="lastName">Last name:</label>
          <div class="input-group">
            <input value="{{user.lastName}}" type="text" class="form-control"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="[modal.close(), update()]">Update</button>
    </div>
  </ng-template>