.container-user{
	width:625px;
	height: auto;
	margin: 0 auto;
  }

.profile-button{
	margin: 10px;
	background-color: green;
	border-radius: 10px;
}

.profile-button:hover{
	color: white;
}

.image-top { 
	width:625px; 
	height:260px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(/assets/images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.name { 
	color:rgba(0, 0, 0, 1);
	width:178px;
	height:45px;
  margin-left: 10px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
  font-weight: bold;
	letter-spacing:0;
}

mat-card{
	width: 625px;
}