<div class="background">
    <div class="container bootstrap snippets bootdey">
      <app-header></app-header>
      <hr>
      <div>
        <div class="col-md-6 personal-info container">
          <div class="alert alert-info alert-dismissable">
            <i class="fa fa-book"></i>
            Login {{errorMessage}}
          </div>
          <form [formGroup]="form" (submit)="sendRequest()" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label login-text">Enter your email:</label>
                <div class="col-lg-8">
                  <input formControlName="email" class="form-control" type="password" value="">
                </div>
              </div>
            <app-button></app-button>
          </form>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    </div>
    