<div class="container-level" *ngIf="level$ | async as level">
  <div class="row">
    <div class="image-top"><span  class="name"></span></div>
  </div>
  <h1>{{level.title}}</h1>
  <div class="row">
    <div>
      <mat-card class="card">
        {{level.title}}
        <div class="detail-options">
          <!--            <mat-icon-->
          <!--              class="comment-icon"-->
          <!--              color="secondary"-->
          <!--              (click)="updateComment()"-->
          <!--            >edit-->
          <!--            </mat-icon>-->
          <mat-icon
            class="comment-icon"
            color="warn"
            (click)="deleteLevel(level.id)"
          >delete
          </mat-icon>
        </div>
        <mat-card-subtitle class="max-opacity">{{"Title: " + level.title}}</mat-card-subtitle>
        <mat-card-subtitle  class="max-opacity">{{"Description: " + level.description}}</mat-card-subtitle>
        <mat-card-subtitle  class="max-opacity">{{"Mark: " + level.mark}}</mat-card-subtitle>
      </mat-card>

    </div>




  </div>
</div>
