form button{
  margin-top: 5px;
}
.image-top {
  width:625px; 
	height:260px;
	position: relative;
	left: 18%;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(/assets/images/rectangle_1.png);
	background-repeat:no-repeat;
	margin-left: 15px;
	background-size:cover;
}




mat-card{
  background-color: white;
  stroke-width: 2px;
  stroke: aquamarine;

  margin: 10px;
  max-width: 1200px;
}

.side{
  background-color: rgb(197, 197, 197);
}
.container{
  background-color: white;
  min-height: 800px;
}
