<div class="container-fluid" >
  <div class="row">
      <div class="col-2 side"></div>
      <div class="col-8 container" *ngIf="topic$ | async as topic">
          <div class="image-top"></div>
          <h1>{{topic.title}}</h1>
          <mat-card clas="card">
            <mat-card-header>
              <mat-card-title>Materials</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-materials></app-materials>
            </mat-card-content>
            </mat-card>            
      </div>
      <div class="col-2 side"></div>  
  </div>
</div>