<div class="container-fluid" >
    <div class="row">
        <div class="col-2 side"></div>
        <div class="col-8 container" *ngIf="material$ | async as material">
            <div class="image-top"><span  class="class-name"></span></div>
            <mat-card clas="card">
              <mat-card-header>
                <mat-card-title>{{material.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                {{material.text}}
              </mat-card-content>
              </mat-card>
              <mat-tab-group>
                  <mat-tab label="Criterions"><app-criterion></app-criterion></mat-tab>
              </mat-tab-group>
              <button (click)="toUserAssignments()" class="btn btn-success btn-with-margin">
                To submissions
              </button>
        </div>
        <div class="col-2 side"></div>

    </div>
  </div>
